<!DOCTYPE html>
<html lang="en">
<head>
    <% include template/head.ejs%>
</head>
<body>
    <% include content/friend.ejs%>
    <%  include template/jsdefaults.ejs%>
    <script src="/reload/reload.js"></script>
</body>
</html>