<!DOCTYPE html>
<html lang="en">
    <head>
    <% include template/head.ejs%>
    </head>
    <body>
        <div class="container-fluid">
            <img src="/images/hello.png" alt="img"/>
        </div>
    <%  include template/jsdefaults.ejs%>
    <script src="/reload/reload.js"></script>
    </body>
</html>