<!DOCTYPE html>
<html lang="en">
    <head>
    <% include template/head.ejs%>
    </head>
    <body>
        <div class="container-fluid">
            <img src="/images/top-wallpaper.jpg" alt="img" style="padding:0;margin:0;height:100%;width:100%"/>
        </div>
    <%  include template/jsdefaults.ejs%>
    <script src="/reload/reload.js"></script>
    </body>
</html>